body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 13px;
  display: flex;
  margin: 10px;
}

#monitor {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-right: 10px;
  overflow: overlay;
  max-height: 500px;
  min-width: 150px;
}
#monitor:empty::before {
  content: 'Loading...';
}
#monitor > div {
  cursor: pointer;
  position: relative;
}
#monitor > div:hover {
  fill: #4742a5;
}
#monitor svg {
  pointer-events: none;
}
#monitor [data-command=remove] {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  width: 20px;
  height: 20px;
  background: #f3f3f3 url("data:image/svg+xml,%3Csvg version='1.1' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg' %3E%3Cpolygon points='77.6,21.1 49.6,49.2 21.5,21.1 19.6,23 47.6,51.1 19.6,79.2 21.5,81.1 49.6,53 77.6,81.1 79.6,79.2 51.5,51.1 79.6,23 '/%3E%3C/svg%3E") center center no-repeat;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  background-size: 18px;
  opacity: 0;
}
#monitor div:hover [data-command=remove] {
  opacity: 1;
}

#sidebar {
  border-left: solid 1px #ccc;
  padding: 0 0 0 10px;
  margin-left: 10px;
}
#add {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
body[data-add=false] #add {
  margin-left: -130px;
  opacity: 0;
}
#guide {
  text-align: center;
  font-size: 10px;
}
input[type=submit] {
  width: 100%;
  padding: 10px;
  background-color: #e6e9ff;
  margin-top: 10px;
  border: none;
}
input[type=number] {
  border: none;
  background-color: #e6e9ff;
  padding: 5px;
}
#add td:last-child {
  text-align: right;
  white-space: nowrap;
}
